body{
    background-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color:aliceblue;
}
h1{
    color:crimson;
    background-color:rgb(98, 40, 173)
}
a{
    text-decoration: none;
    color:lightblue;
}
a:hover{
    color:crimson;
}
ul>li{
    font-weight: bold;

}
ul li:nth-child(3){
    background-color: darksalmon;
}
ul li::before{
    content:"🚀";
}
a::after{
    content:"🛸";
}
p::first-letter{
    color:chocolate;
    font-size: 200%;
}
